@model PostClass


@if (Model == null)
{
    <h2>No movie provided</h2>
}
else
{
    //<partial name="_UserIconPartial.cshtml" for="@Model" />
    <div class="Post">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">@Model.Title</h3>
        <div >
            <img src="@Model.ImageLink" class="imageFrame" />
        </div>
        <div class="card-header">
            <div>
                <p>@Model.Description</p>
            </div>
            <div>
                <p>@Model.Tag</p>
            </div>
            @if (Model.lookUser == ViewBag.UserID) 
    {
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.postUser" class="btn btn-primary mx-2">
            <i class="bi bi-caret-right-fill"></i> Edit
        </a>
        <a asp-controller="Movie" asp-action="Remove" asp-route-id="@Model.postUser" class="btn btn-outline-danger mx-2">
            <i class="bi bi-file-x "></i> Remove
        </a>
    }
        </div>
    
    </div>
    </div>
    
}