@model User;


@if (Model == null)
{
        <h2>There is no user here.</h2>
}
else
{
    <h2>@Model.Name</h2>
    <div>
        <img src="@Model.userImageLink" class="imageFrame ProfileImage"/>
    </div>
    <div>
        <h3 class="">About @Model.Name</h3>
        <p>
            @Model.Password
        </p>
    </div>
    <div>
        <div>
            @if(Model.profileID == ViewBag.UserID)
            {
                 <a asp-controller="Home" asp-action="EditUserPage" asp-route-id="@Model.profileID" class="btn btn-primary mx-2">
                    <i class="bi bi-caret-right-fill"></i> Edit
                </a>
                <a asp-controller="Movie" asp-action="RemoveUserPage" asp-route-id="@Model.profileID" class="btn btn-outline-danger mx-2">
                    <i class="bi bi-file-x "></i> Remove
                </a>
            }
        </div>
        
    </div>
}