@model PersonModel

<form asp-controller="Home" asp-action="PersonView" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Create Movie
            </h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="Name" class="error-messages"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="@Model.Age" class="form-control" />
            <span asp-validation-for="Age" class="error-messages"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Street"></label>
            <input asp-for="@Model.Street" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="City"></label>
            <input asp-for="@Model.City" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="State"></label>
            <input asp-for="@Model.State" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="ZipCode"></label>
            <input asp-for="@Model.ZipCode" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
            Create
        </button>
        <a asp-controller="Movie" asp-action="MultMovies" class="btn btn-secondary">See Movies</a>
    </div>
</form>