@model Game

@if(Model == null)
{
	<h3>No Game</h3>
}
else
{
	<div class="row bg-dark align-items-lg-stretch">
		<div class="col">
			<div class="card bg-secondary mb-3" style="max-width: 40rem;">
				<div class="card-body">
					<img src="@Model.Image" width="300" height="240"/>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">@Model.Rating.ToString() / 5</div>
				<div class="card-body">
					<h4 class="card-title">@Model.Title</h4>
					<p class="card-text">
						Platforms - @Model.Platform<br/>
						Cost - $@Model.Cost.ToString()<br/>
						Genre - @Model.Genre<br/>
						ESRB - @Model.ESRB
					</p>
					<br/>
					<a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mx-2">
						<i class="bi bi-caret-right-fill"></i> Edit
					</a>
					<a asp-controller="Home" asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-outline-danger mx-2">
						<i class="bi bi-file-x "></i> Remove
					</a>
					<br/>
						@if(Model.Available){
							<form asp-controller="Home" asp-route-id="@Model.Id" asp-action="GameLibrary" method="post">
								<div>
									<input asp-for="@Model.CurrentOwner" name="Borrower" placeholder="Name" />
								</div>
								<button type="submit" class="btn btn-primary">Check Out</button>
							</form>
						}else{
							<form asp-controller="Home" asp-route-id="@Model.Id" asp-action="GameLibrary" method="get">
								<p>
									Current Holder - @Model.CurrentOwner <br/>
									Check Out Date - @Model.CheckOutDate
								</p>
								<button type="submit" class="btn btn-primary">Return</button>
							</form>
						}
				</div>
			</div>
		</div>
	</div>
}