@model Game

@if(Model == null)
{
	<h3>No Game</h3>
}
else
{
	<div class="row-cols-2 bg-dark">
		<div class="col">
			<div class="border-1 border-dark">
				<img resource="@Model.Image" />
			</div>
		</div>
		<div class="col text-muted">
			<div>
				<h3>@Model.Title</h3>
				<ul>
					<li>
						<p>Cost - $@Model.Cost.ToString()</p>
					</li>
					<li>
						<p>Rating - @Model.Rating.ToString()</p>
					</li>
					<li>
						<p>Platform - @Model.Platform</p>
					</li>
					<li>
						@if(Model.Available){
							<form asp-controller="Home" asp-action="GameLibrary">
								<label for="name"><b>Name</b></label>
								<input id="name" type="text" name="name" placeholder="Name" />
								<button type="submit" class="btn btn-primary">Check Out</button>
							</form>
						}else{
							<form asp-controller="Home" asp-action="GameLibrary">
								<p>
									Current Owner - @Model.CurrentOwner
									Check Out Date - @Model.CheckOutDate
								</p>
								<button type="submit" class="btn btn-primary">Return</button>
							</form>
						}
					</li>
				</ul>
			</div>
		</div>
	</div>
}